<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles.css">
    <title>Index</title>
</head>

<body>
<header>
    <h2>Inicio</h2>
    <img src="../images/Logo.png" alt="Esta imagen no funciona"/>
</header>

<ul id="principalList">
    <a href="http://localhost:8080/books/insert"><li>Insertar Libro</li></a>
    <a href="http://localhost:8080/books"><li>Libros</li></a>
    <a href="http://localhost:8080/about"><li>Acerca de</li></a>
</ul>
</body>

</html>